*.user
miniproject01/code/build-imagerestoration-Desktop-Default
miniproject01/code/imagerestoration-build/
*.log
*.aux
*.pdf
*.gz
RO/man02/build-pathplanner-Desktop-Default
*.dvi
*.psi
*~
*.out
finalProject/PA10WorkCell
finalProject/SamplePluginPA10/build
finalProject/SamplePluginPA10/libs
RO/man03/build-blend-Desktop-Default
